*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Variables */ 

:root{
    --color-primary: #1c2f47;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #fe5757;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #1c2f47;
    --color-bg1: #2e3267;
    --color-bg2: #424890;
    --color-light-blue: #49cdd2;
    --color-dark-blue: #1c2f47;
    --color-green: #126b61;


    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 400ms ease;

}

/* setting up font family, line height between elements, color using variable define eariler and background */ 
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
}

/* setting up container with the width of the variable define earlier wich is for large devices, later on will change it with media querys and margin 0 auto which is going to put it in the middle */ 
.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}

/* giving every section a padding of 6rem (1rem = 16 pixels) for the top and bottom and zero for left and right*/ 
section{
    padding: 6rem 0;
}

/* giving every h2 in section is going to be text-aling to the center and a margin bottom of 4rem */ 
section h2{
    text-align: center;
    margin-bottom: 4rem;
}

/* every header tag is going to have a line-height of 1.2*/ 
h1, h2, h3, h4, h5{
    line-height: 1.2;
}

/* every h1 is going to have a font size of 2.4rem*/ 
h1{
  font-size: 2.4rem;  
}

/* every h2 is going to have a font size of 2rem*/ 
h2{
    font-size: 2rem;  
}

/* every h3 is going to have a font size of 1.6rem*/ 
h3{
    font-size: 1.6rem;  
}

/* every h4 is going to have a font size of 1.3rem*/ 
h4{
    font-size: 1.3rem;  
}
/* every a tag is going to have a color of white define by the variable*/ 
a {
    color: var(--color-white);
}

/* every image is going to have a width of 100% of its parent*/ 
img{
    width: 100%;
    display: block;
    object-fit: cover;
}

/*btn class*/
.btn{
    display: inline-block;
    background: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}

/*btn class on hover is going to change background to transparent, color inside to white, border color to white  */
.btn:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
}

/*btn-primmary class background color to the variable define earlier and color inside */
.btn-primary{
    background-color: var(--color-danger);
    color: var(--color-white);
}

/*=============================== NAVBAR =========================== */
/*nav bar tag */
nav{
    background: var(--color-bg2); /*background of color transparent*/ 
    width: 100vw; /*width of 100 viewport it means that doesn't matter the screen is always going to take the entire screen*/
    height: 5rem; /*is going to have a height of 5 rem equal to 80 pixels */
    position: fixed; /*position fixed so if we scroll we are going to see the nav bar */
    top: 0; /*top 0 so nav bar will always be on the top*/
    z-index: 11; /*z index of eleven so if its going to be on top of everything of the page*/
}
/*nav_container class*/
.nav_container{
    height: 100%; /*height of 100% of the parent*/
    display: flex; /*display flex to position items side by side and not on top of each one*/
    justify-content: space-between; /*items are evenly distributed in the line first item at the start and last item at the end*/
    align-items: center; /*align items to the center*/
}

/*Don't display none to buttons in large screens*/
nav button {
    display: none;
}

/*nav_menu class*/
.nav_menu{
    display: flex; /*display flex to position items side by side and not on top of each one*/
    align-items: center; /*align items to the center*/
    gap: 4rem; /*margin between items*/
}

/*a tag inside nav_menu class*/
.nav_menu a {
    font-size: 0.9rem;
    transition: var(--transition)
}

/*a tag on hover inside nav_menu class*/
.nav_menu a:hover {
    color: var(--color-bg);
}

/* section_container class */
.section_container{
    display: grid; /*display grid to divide into columns*/
    grid-template-columns: 1fr 1fr; /*take one fraction on each side*/
    align-items: center; /*align items to the center*/
    gap: 5rem; /*margin between items*/
    height: 100%; 
}

.section_left p {
    margin: 2rem 0 2.4rem;
}


.titulo_categories{
    text-align: center; /*aligning tittle to the center*/
}


/*class flexbox for categories card*/

.row{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.categorie-card{
    background-color: var(--color-bg2);
    width: 300px;
    height: 315px;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
}

.question-card{
    background-color: var(--color-bg2);
    width: 600px;
    height: 615px;
    margin: 20px 10px 10px 10px;
    border-radius: 20px;
}

.categorie-content{
    padding: 10px;
}

.categorie-icon{
    text-align: center;
}

.categorie-text{
    text-align: center;
}

.categorie-text h2{
    font-size: 20px;
}

.categorie-text p{
    font-size: 15px;
    line-height: 1.3em;
    margin-top: -40px;
    margin-bottom: 30px;
}

.categorie-btn{
    text-align: center;
}

.btn-categorie{
    background-color: var(--color-bg);
    color: #fff;
    width: 150px;
    cursor: pointer;
    height: 38px;
    font-size: 15px;
    font-weight: 600px;
    border-radius: 3px;
    outline: none;
    border: none;
}

/*CONTACT CSS*/

.contact_container{
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 50% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact_aside{
    background-color: var(--color-bg2);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside_image{
    width: 19rem;
    margin-bottom: 2rem;
}

.contact_aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact_aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact_details li{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact_socials a {
    background: var(--color-bg1);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact_socials a:hover{
    background: transparent;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 12rem;
}

.form_name{
    display: flex;
    gap: 1.2rem;
}

.contact_form input[type="text"]{
    width: 50%;
}

input, 
textarea{
    width: 100%;
    padding: 1rem;
    background-color: var(--color-bg);
    color: var(--color-white);
}

.contact_form .btn {
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
}


/*Media QUERIES FOR TABLETS*/
@media screen and (max-width: 1024px){
    .container{
        width: var(--container-width-md);
    }

    h1{
        font-size: 2.2rem;
    }

    h2{
        font-size: 1.7rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }
   
    /*NAVBAR*/
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-menu-btn{
        display: none;
    }

    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }

    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .nav_menu li a{
        background: var(--color-bg2);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .nav_menu li a:hover{
        background: var(--color-bg1);
        color: var(--color-white);
    }


    /*Section*/
    section{
        height: 100%;
        margin-bottom: 4rem;
    }
    .section_container{
        gap: 0;
        padding-bottom: 3;
    }

    /*Contact Form*/

    .contact{
        padding-bottom: 0;
    }

    .contact_container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;;
    }

    .contact_aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }

    .contact_form{
        align-self: center;
        margin-right: 5.5rem;
    }

}


/*Media QUERIES FOR PHONES*/
@media screen and (max-width: 600px){
    .container{
        width: var(--container-width-sm);
    }

    section{
        height: 100%;
    }
    .section_container{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0;
    }

    .contact_container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    .contact_form{
        margin: 0 1.5rem 3rem;
    }

    .form_name{
        flex-direction: column;
    }

    .form_name input[type="text"] {
        width: 100%;
    };
}